<ion-content class="splash-content">
    <div class="splash-container">
        <!-- Animated Progress Circles -->
        <div class="progress-container">



            <div class="outer-circle1">
                <div class="inner-circle1">
                    <div class="finance-icon">
                        <img src="assets/icons/saloon.png" alt="Icon" class="icon-img" />
                    </div>
                </div>
            </div>
        </div>

        <!-- App Name -->
        <div class="app-name">Mr.Saloon</div>
        <img src="assets/icons/Spinner-3.gif" alt="Icon" class="icon-imgg" />

        <!-- Powered By -->
        <div class="powered-by">
            <div class="company-logo">
                <span>✂️</span>
                <span>Professional Barber Tools</span>
            </div>

        </div>
    </div>
</ion-content>